<!-- <ul>
    <li><a href="home">Home</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="profile/Jaydeep">Profile</a></li>
</ul> -->
<h2>Login Page</h2>
<form method="POST" action="">
    <input type="text" name="Email"></br></br>
    <input type="password" name="Password"></br></br>
    <button type="submit">Login</button>
</form>
<%-include('common/nev.ejs');-%>