<ul class="nav">
    <li><a href="home">Home</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="profile/Jaydip">Profile</a></li>
</ul>
<!-- <Style>
    body{
        background-color: tomato;
        color: whitesmoke;
    }
    a{
        color: whitesmoke;
    }
     .nav li{
         display: inline;

    }
</Style> -->